.App {
  text-align: center;
}

body{
    background-image: url("bgimage.jpeg");
    /*background-color:  #efeff5;*/
}
.greytable{
    background-color:   #e0e0eb;
}
.darkgreytable{
    background-color: white;
}


.coraltable{
    background-color:  white;
}
.darkcoraltable{
    background-color:  #d0d0e1;
}

.darkbluetable{
    background-color:white;
}
.bluetable{
    background-color:   #d0d0e2;
}


h1{
    text-align: center;
    text-decoration: darkgreen;
    text-shadow: green;
}

h5 {
    text-align: center;
}

.sameline{
    display: inline-block;
}

.aligncenter{
    margin:auto;
}

table{
    border:solid grey;
    margin:auto;
}

th {
    background-color:darkgray;
}

td {
    border: 1px  #a9a9a9;
    padding: 8px;
  }

fieldset{
    width:60%;
    text-align: center;
    margin: auto;
    border-radius:20px;
    padding: 30px;
    border: 1px solid white;
    margin:  auto;
    margin-bottom: 20px;
}

#table1content {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 1050px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

